@font-face {
    font-family: bladerunner;
    src: url('../BLADRMF_.TTF');

}

@font-face {
    font-family: airstrike;
    src: url("../airstrike.ttf");
}

html {
    font-family: airstrike;
    background-image: url(../house.webp);
    background-size: 100%;
}


h1 {
    color: white;
    font-size: 70px;
    font-weight:normal
}

h2 {
    color: white;
    font-size: 45px;
    font-weight:normal
}

h3 {
    color: white;
    font-weight:normal
}

p { 
    color: white;
    font-size: 50px;
}

.column
{
    padding: 1%;
    float: left;
    width: 15%;
    background-color: blue;
    font-size: 20px;
}

input{
    font-family: airstrike;
    font-size: 20px;
}

input[type="checkbox"]{
    padding: 1%;
    width: 20px;
    height: 20px;
    accent-color: red;
}

select{
    padding: 2%;
    font-family: airstrike;
    font-size: 20px;

}

form {
    color: white;
    font-size: 40px;
}