@font-face {
    font-family: bladerunner;
    src: url('../BLADRMF_.TTF');

}

@font-face {
    font-family: airstrike;
    src: url("../airstrike.ttf");
}

html {
    font-family: airstrike;
    background-image: url(../house.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


h1 {
    color: white;
    font-size: 70px;
    font-weight: normal;
    margin: 1px;
    
}

h2 {
    color: white;
    font-size: 45px;
    font-weight: normal;
    margin: 1px;
    
}

h3 {
    color: white;
    font-weight: normal;
}

img {
    vertical-align: bottom;
}

p {
    color: white;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}


li {
    display: inline;
    color: white;
    font-size: 30px;
}

ul {
    list-style-type: none;
    padding: 1%;
    background-color: blue;
}

li a {
    padding: 1%
}



.column {
    padding: 1%;
    float: left;
    width: 18%;
    height: 47%;
    background-color: blue;
    font-size: 20px;
}

input {
    font-family: airstrike;
    font-size: 20px;
}

input[type="checkbox"] {
    padding: 1%;
    width: 20px;
    height: 20px;
    accent-color: red;
}

select {
    padding: 2%;
    font-family: airstrike;
    font-size: 20px;

}

form {
    color: white;
    font-size: 40px;
}